<nav class="navbar navbar-dark bg-dark" style="height: 8vh;">
  <div class="container">
    <a href="/" class="navbar-brand text-white">Unichat</a>
    
  </div>
</nav><!-- nav-dark coloca texto blanco en el navegador-->


