<div class="card card-body p-4 rounded-0 text-dark">
  <h1>Log in</h1>
  <form action="/signin/user" method="POST">
    <!-- creamos la ruta de este formulario-->
    <div>
      <input type="email" name="email" placeholder="email" id="signinemail" class="form-control rounded-0  text-dark" />
    </div>
    <div>
      <input type="password" name="pasword" placeholder="pasword" id="signinpasword"
        class="form-control rounded-0  mt-2 text-dark">
    </div>

    <button class="btn btn-success mt-3">Sign in</button>
  </form>
</div>